 form {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 400px;
        height: 400px;
    }

    legend {
        align-self: center;
        margin: 0 auto 25px auto;
        margin-bottom: 25px;
    }

    .botoes_form{
        margin-top: 25px;
    }